{% assign repo_url = include.repository | split: '/' %}

<div class="repo p-2 text-center">
  <a href="https://github.com/{{ include.repository }}" target="_blank" rel="noopener noreferrer">
    <div class="card hoverable h-100">
      <div class="card-body">
        <h5 class="card-title mb-2">{{ repo_url[1] }}</h5>
        <p class="card-text">{{ repo_url[0] }}</p>
        <img
          alt="{{ include.repository }} stars"
          src="https://img.shields.io/github/stars/{{ include.repository }}?style=flat-square&logo=github"
        >
        <img
          alt="{{ include.repository }} forks"
          src="https://img.shields.io/github/forks/{{ include.repository }}?style=flat-square&logo=github"
        >
      </div>
    </div>
  </a>
</div>
